<html>
	<head>
	<link href="stupid.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
       </head>
       <main>
       <div class = "padded max900">
	<h3> Shellify your stuff online! </h3>
	<h7> Now with 100% more ardour </h7>
	<p>

	</p>
	<form action="upload" method = "post" enctype="multipart/form-data">
	<textarea rows="5" cols="80" id = "to" name ="to" placeholder="Stuff to shellify"></textarea>
	<br>
	<input type = "submit" value = "Initiate shellification"> &nbsp;
	<label><input type = "checkbox" value = "Yes" id="adv" name = "adv">
	Advanced Shellification</label> &nbsp; &nbsp;
	<label><input type = "checkbox" value = "Blah" id="linebreaks" name = "linebreaks">
	Linebreaks</label> &nbsp; &nbsp;
	<div style = "neutralize">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; Insanity Multiplier &nbsp;
		<select name="multiplier">
			{% for mult in range(25) %}
				<option value={{ mult+1 }}>{{ mult+1 }}</option>
			{% endfor %}
		</select>
	</div>
	</form>
	<p>{{shellified | safe}}</p>
  </div>
	</main>
</html>
